header {
    width: 100%;
    height: 100px; 
    background-color: white;
    position: fixed; 
    z-index: 1; 
    background: linear-gradient(to right, rgb(198, 255, 202), rgb(139, 255, 133));
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    width: 30%;
    float: left;
    text-align: left;
    height: 100%; 
}

.logo img {
    height: auto;
    width: 100px;
}

nav {
    float: right;
    line-height: 100px; 
}

nav a {
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    font-size: 20px;
    color: black;
    padding: 39px 10px;
    margin: 0 1px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background: linear-gradient(to right, rgb(65, 198, 185, 0.5), rgb(44, 182, 168, 0.8));
    color: black;
    font-weight: 700;
}


@media only screen and (max-width: 550px) {
    nav a {
        font-size: 10px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 320px) {
    nav a {
        font-size: 8px;
        font-weight: bold;
    }
}