.banner {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: auto; 
    padding-top: 100px; 
    overflow: hidden; 

}

.banner img {
    width: 100%; 
    height: auto; 
}




